.color{
    background-color: #343a40!important;
    margin-left: 10px;
}

.list-group-item.active {
    background-color: #343a40!important;
    border: 1px solid #343a40!important;
}

.pd {
    padding: 20px;
}

/* .custom_heading {
    text-align: start;
    font-family: sans-serif;
} */